.button {
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid transparent;
    margin: 1rem;
    padding: 2rem;
}

button:hover {
    background-image: linear-gradient(to bottom right, #0d6efd , black);
}

button:active {
    transform: translateY(0.25rem);
}

.label-huge {
    margin:  1rem;
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

.label {
    margin: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}